*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradle/
bulid/
.idea/
app/build/
app/libs/
app/*.iml
app/*.gradle
app/src/androidTest/
app/src/test

.externalNativeBuild
